*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header{
	width: 100%;
	height: 100px;
	background: rgba(72, 138, 153, 0.9);
	position: fixed;
}
.logo{
	font-size: 35px;
	font-weight: bold;
	padding: 30px 70px 30px 50px;
	background: rgba(0, 0, 0, 1);
	display: inline-block;
	border-bottom-right-radius: 50px;
	border-top-right-radius: 50px;
}
.logo a{
	text-decoration: none;
	color: rgb(255, 255, 255, 0.8);
}
.btt{
	display: none;
}
.escritorio{
	position: absolute;
	right: 0;
	display: inline-block;
	padding: 39px;
}
.mobile{
	display: none;
}
.item{
	display: inline-block;
	vertical-align: top;
	margin: 0 30px 0 0;
	font-size: 20px;
	font-weight: bold;
}
.item a{
	text-decoration: none;
	color: rgb(0, 0, 0, 1);
}
.item a:visited{
	color: #fff;
	text-decoration: none;
}
.item a:hover{
	border-bottom: 3px solid;
	color: rgba(0, 0, 0, 0.6);
}
.item a:active{
	color: rgba(255, 255, 255, 0.8);
}
.linea{
	position: fixed;
	top: 100px;
	width: 100%;
	height: 1px;
	background: rgba(255, 255, 255, 1);
}
footer{
	background: rgba(50, 70, 90, 1);
	color: rgba(255, 255, 255, 0.8);
	width: 100%;
	padding: 30px 0 20px 0;
}
.cajas{
	width: 100%;
	text-align: center;
}
.caja{
	width: 33%;
	padding: 20px 30px;
	display: inline-block;
	vertical-align: top;
}
.titulo{
	font-size: 20px;
	font-weight: bold;
}
.caja a{
	text-decoration: none;
	color: rgb(255, 255, 255, 0.8);
}
.caja a:visited{
	color: #000;
	text-decoration: none;
}
.caja a:hover{
	border-bottom: 3px solid;
	color: rgba(0, 0, 0, 0.5);
}
.caja a:active{
	color: rgba(0, 0, 0, 1);
}
.derechos{
	text-align: center;
	border-top: 2px solid rgba(255, 255, 255, 0.5);
	margin: 20px 20px 0 20px;
	padding: 20px 0 0 0;
	font-size: 22px;
}

/* Mobile */
@media screen and (max-width: 1265px){
	.escritorio{
		display: none;
	}
	.linea{
		display: none;
	}
	.btt{
		color: rgb(255, 255, 255, 1);
		display: inline-block;
		font-size: 35px;
		position: absolute;
		right: 20px;
		margin: 31px 29px 29px 29px;
		cursor: pointer;
	}
	.btt:visited{
		color: rgba(255, 255, 255, 1);
	}
	.btt:hover{
		color: rgba(255, 255, 255, 0.5);
	}
	.btt:active{
		color: rgba(255, 255, 255, 0.2);
	}
	.mobile{
		background: rgba(72, 138, 153, 0.9);
		width: 100%;
		height: 0px;
		position: absolute;
		display: block;
		text-align: center;
		overflow: auto;
	}
	.logo{
		width: 100%;
		border-radius: 0;
	}
	.item-mobile{
		display: block;
		margin: 20px 0 0 0;
		font-size: 20px;
		font-weight: bold;
		overflow: hidden;
	}
	.item-mobile a{
		text-decoration: none;
		color: rgba(0, 0, 0, 1);
	}
	.item-mobile a:visited{
		color: #fff;
		text-decoration: none;
	}
	.item-mobile a:hover{
		border-bottom: 3px solid;
		color: rgba(0, 0, 0, 0.6);
	}
	.item-mobile a:active{
		color: rgba(255, 255, 255, 0.8);
	}
	.linea_m{
	display: block;
	position: fixed;
	top: 100px;
	width: 100%;
	height: 1px;
	background: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 370px){
	.logo{
		padding: 30px 30px 30px 30px;
	}
	.btt{
		font-size: 30px;
		margin: 36px 10px 28px 10px;
	}
}

/*pied de pagina*/
@media screen and (max-width: 830px){
	.caja{
	display: block;
	width: 100%;
	}
}

/* Regreso del encabezado */
@media screen and (min-width: 1271px){
	.mobile{
		display: none;
	}
	.btt{
		display: none;
	}
}
